<div class="jumbotron" style="background-color:#E7753F;">
    <h1>99XT unified service API</h1>
    <p class="lead">
        Seranet Service API is the platform for creating service APIs exposing programable interfaces
        for corporate IT systems.
    </p>    
    <p><a href="./Help" class="btn btn-primary btn-large">See Existing APIs &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Create New APIs</h2>
        <p>Writing new Seranet APIs are quite straight forward. The codebase is hosted on <a href="https://github.com/ectechno/seranet.api"> github </a>
        for you to fork on to your own GitHub account. Once cloned, you should be able to run Seranet.Api MVC5 project through VS2013 do modifications to existing APIs. 
        </p>
        <p>To create new APIs, add a new Code Library project to the solution having nuget dependency to 'Microsoft.AspNet.WebApi.Core' package. Next add your new
        project as a dependency to Seranet.Api host project. Now you are ready to add WebApi controllers to your project. These controllers will be
        automatically pickedup and be deployed by the Seranet.Api host project.</p>

        <p>Once development is complete send your work as a 'Pull Request' to the original 'ectechno' repository.</p>
        <p><a class="btn btn-default" href="https://github.com/ectechno/seranet.api">Fork me &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Using the Service APIs</h2>
        <p>Seranet Service API is based on REST service model to let developers to easily consume across platforms. 
        JS SPA is a common usecase for such applications. </p>
    </div>
</div>
